@use "sass:map";
@use "sass:math";

@function bp($breakpoint) {
	@return map.get($breakpoints, $breakpoint);
}

@mixin fullscreen {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}
