// TODO: probably would be a good idea to use native css variables

// Layout
$gap-x: 1rem;
$gap-x-half: math.div($gap-x, 2);
$gap-y: 1rem;
$gap-y-half: math.div($gap-y, 2);

$border-size: 2px;

$breakpoints: (
	xs: 0,
	sm: 32rem,
	md: 48rem,
	lg: 85.375rem,
	xl: 120rem,
	xxl: 160rem,
);

// Colors
$background: hsl(0deg, 0%, 10%);
$background-1: hsl(0deg, 0%, 14%);
$background-2: hsl(0deg, 0%, 20%);

$accent: hsl(0deg, 0%, 50%);
$text-1: hsl(0deg, 0%, 80%);
$text-2: hsl(0deg, 0%, 90%);
$text-darker: hsl(0deg, 0%, 50%);

// Fonts
$main-font: sans-serif;
$logo-font: "Comfortaa", sans-serif;
