@use "sass:color";
@use "sass:math";
@use "sass:map";
@import "_values.scss";
@import "_utils.scss";

body {
	width: 100vw;
	height: 100vh;

	font-family: $main-font;
	background: $background;
}

body,
input,
textarea,
button {
	color: $text-1;
}

._icon {
	color: $accent;
	vertical-align: middle;
}

._home-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;

	.logo {
		font-family: $logo-font;
		font-size: 3rem;
		line-height: 3rem;
		text-align: center;

		margin-bottom: $gap-x;
	}
}

// TODO: investigate weird scrolling on body on mobile browsers, not reproducible in responsive layout emulator on desktop
._search-box {
	$height: 3rem;
	$full-height: calc($height + $border-size * 2);

	position: relative;
	width: 100%;
	height: calc($height + $border-size * 2);

	&:focus-within {
		@media (max-width: bp(md)), (max-height: bp(md)) {
			@include fullscreen;
			z-index: 1000;

			background: $background;

			> .form {
				border: none;
				border-radius: initial;

				> .suggestions {
					max-height: calc(100vh - $height);
				}
			}
		}

		> .form {
			border-color: $background-2;

			> .suggestions:not(:empty) {
				display: block;
			}
		}
	}

	> .form {
		position: absolute;
		width: 100%;
		border: $border-size solid transparent;
		border-radius: math.div($height, 2);
		background: $background-1;
		overflow: hidden;
		z-index: 999;

		> .input {
			display: inline-flex;
			width: 100%;
			height: $height;
			overflow: hidden;

			> .text {
				width: 100%;
				outline: none;
				padding-left: $gap-x;
			}

			> .text:placeholder-shown + .clear {
				display: none;
			}

			> .clear {
				padding: 0 math.div($gap-x, 2);

				&:hover,
				&:focus {
					background: $background-2;
				}
			}

			> .submit {
				padding: 0 $gap-x;

				&:hover,
				&:focus {
					background: $background-2;
				}
			}
		}

		> .suggestions {
			display: none;
			max-height: calc(50vh - ($full-height + $gap-y));
			overflow-y: scroll;
			border-top: $border-size solid $background-2;

			list-style-type: none;

			> li {
				button {
					width: 100%;
					height: $height;
					padding: 0 $gap-x;
					text-align: left;
				}

				a {
					text-decoration: none;
					outline: none;
					color: $text-1;

					display: flex;
					align-items: center;
				}

				a,
				button {
					width: 100%;
					height: $height;
					padding: 0 $gap-x;

					&:hover,
					&:focus {
						background: $background-2;
					}
				}
			}
		}
	}
}

._search-page {
	display: grid;
	padding: $gap-y $gap-x;
	gap: $gap-y $gap-x;

	grid:
		"logo search-box ."
		"border border border"
		". content ."
		/ min-content minmax(0, bp(md)) auto;

	@media (max-width: bp(md)) {
		grid:
			"logo"
			"search-box"
			"sep"
			"content"
			/ auto;
	}

	> .border {
		grid-area: border;
		background: $background-2;
		height: $border-size;
	}

	> .logo {
		grid-area: logo;
		align-self: center;
		font-family: $logo-font;
		font-size: 2rem;
		color: $accent;
		text-align: center;
		text-decoration: none;
	}

	> ._search-box {
		grid-area: search-box;
	}

	> .content {
		grid-area: content;
	}
}
